#contenedor{
    height: 9000 px;
    width: 500px;
    background-color: rgb(234, 175, 247);
    padding: 20px;
    border: solid black;
    margin-top: 100px;
}
#cabecera{
    text-align: left;
    margin-left: 10px;
    
}
.texto{
    background-color: rgb(239, 226, 233);
}
#btnBuscar:hover{
    background-color: black;
    color: beige;

}


    